.select_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  height: 42px;
  width: 212px;
}

.custom_select {
  position: relative;
  width: 212px;
  height: 42px;
  border: solid 1px var(--border);
  border-radius: 8px;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 20px;
}

.select_list {
  position: absolute;
  margin: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 4px;
  top: 48px;
  max-height: 96px;
  border: solid 1px var(--card);
  background-color: var(--popover);
}

.selection {
  margin: auto;
}

.select_arrow {
  width: 20px;
  height: 20px;
  margin: auto;
}

.select_title {
  font-size: small;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: var(--popover);
  text-align: left;
}

.select_button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  background: transparent;
  border: none;
}

.is_close {
  visibility: hidden;
}

.is_open {
  visibility: visible;
}

h1 {
  margin: 0;
}