.header_button {
  background-color: var(--primary);
  color: var(--primary-foreground);
  height: 42px;
  border-radius: 8px;
  min-width: 40px;
  width: 100%;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
}

.header_button:hover {
  background-color: var(--primary-hover);
  color: var(--primary-foreground-hover);
}