.header_button {
  background-color: var(--primary);
  color: var(--primary-foreground);
  height: 42px;
  border-radius: 8px;
  min-width: 40px;
  width: 100%;
  max-width: 152px;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
  margin: auto 0;
}

.header_button:hover {
  opacity: 50%;
}

.order {
  background-color: transparent;
  height: 30px;
  width: 22px;
  margin: auto 8px auto 0;
  cursor: pointer;
  transition: 2s;
}

.rotate {
  transform: rotate(180deg);
}

.sort_arrow {
  margin: auto;
}

.sort_arrow:hover {
  opacity: 50%;
}
