:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #0E1018;
  --foreground: #ffffff;
  --border: #1c1d24;
  --card: #18191f;
  --popover: #11141E;
  --primary: #60F947;
  --primary50: rgba(96, 249, 71, 0.5);
  --primary20: rgba(96, 249, 71, 0.2);
  --primary-foreground: #0f1014;
  --primary-foreground-hover: #464d71;
  --primary-hover: #388632;
  --modal: #f7f7f810;
  --field-title: #A8ACC6;
  --secondary: #FF6262;
  --secondary20: rgba(255, 98, 98, 0.2);
  --secondary-hover: #7b3535;
  --secondary-foreground: #1f264f;

}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Helvetica", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.container {
  width: 100vw;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

main {
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}


/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
